html
{
    font-size: 62.5%;
}

body
{
    margin: 0;
    font-family:'poppins';
    background-color: rgba(229, 229, 203, 100%);
}

h1, p, a
{
	margin: 0;
	padding: 0;
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
	height: 100vh;
}

/* NavBar */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav
{
    margin: 4em;
}

nav ul
{
    list-style-type: none;
    display: flex;
    gap: 6.6em;
    margin: 0;
}

nav ul li a
{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 1.5rem;
    position: relative;
}

nav a.active::before
{
    position: absolute;
    content: "";
    width: 85%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -1px; 
}

nav ul li a::before
{
    position: absolute;
    content: "";
    width:0%;
    height: 1px;
    border-bottom: 2px solid rgb(138, 135, 135);
    bottom: -1px; 
    transition: width .8s;
}

nav ul li a:hover::before
{
    width: 85%;
}


/* title section */

.title
{
	margin-top: 3em;
    display: grid;
}

.title h1
{
	margin: 0 auto;
    font-size: 3.4rem;
    font-weight: 100;
}

.title span
{
    width: 24.7em;
    height: 0;
    border: 0.1em solid black;
    margin: 0 auto;
}


/* main section */

main
{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 10%;
    margin-top: 4.7em;
}

/* main section - left column */

main .left-col
{
    display: grid;
}

.left-col p
{
    font-size: 2rem;
    font-weight: 400;
}

.left-col a
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5em 1.9em;
    color: white;
    background-color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2.5em;
}

/* main section - right column */

main .right-col
{
    display: flex;
    flex-direction: column;
    gap: 1.9em;
}

.right-col .skill
{
    display: grid;
    gap: .8em;
}

.skill p
{
    font-size: 2rem;
    font-weight: 600;

}

.skill .full-bar
{
    width: 43.7em;
    height: 1.2em;
    background-color: #D5CEA3;
}

.skill .skill-bar-1
{
    display: block;
    height: 1.2em;
    background-color: #050A30;
    width: 90%;    
}
.skill .skill-bar-2
{
    display: block;
    height: 1.2em;
    background-color: #052D30;
    width: 70%;    
}
.skill .skill-bar-3
{
    display: block;
    height: 1.2em;
    background-color: #172612;
    width: 95%;    
}
.skill .skill-bar-4
{
    display: block;
    height: 1.2em;
    background-color: #261226;
    width: 80%;    
}


/* menu button css */

#menu-bar
{
    display: none;
}

header label
{
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    display: none;
}


/* mobile phones */

@media all and (max-width: 758px)
{
    .wrapper
    {
        height: fit-content;
    }
    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(229, 229, 203, 100%);
    }

    header label
    {
        display: initial;
    }

    header nav
    {
        position: absolute;
        top: 100%;
        margin: 0; 
        left: 0;
        right: 0;
        background-color: lightgray;
        border-top: 1px solid black;
        display: none;
    }

    nav ul
    {
        list-style-type: none;
        display: grid;
        height: 50vh;
        padding: 1em 0; 
        margin: 0;
        gap:0;
    }

    #menu-bar:checked ~ nav
    {
        display: initial;
    }

    nav ul li
    {
        display: grid;
    }

    nav ul li a
    {
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 1em;
        font-weight: 400;
        
    }

    

    nav ul li a:hover
    {
        background-color: lightgrey;
    }

    nav a.active::before
    {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-bottom: none;
        bottom: 0; 
    }

    nav ul li a::before
    {
        position: absolute;
        content: "";
        width:0%;
        height: 0px;
        border-bottom: none;
        bottom: 0; 
        transition: width 0;
    }

    nav ul li a:hover::before
    {
        width: 0;

    }

    .title
    {
        margin-top: 50vh;
        display: grid;
    }

    main
    {
        display: flex;
        flex-direction: column-reverse;
        gap: 10%;
        margin: 0;
        margin-top: 10.7em;
        padding: 0 10%;
        width: 80%;

    }

    .skill .full-bar
    {
        width: 100%;
        height: 1.2em;
        background-color: #D5CEA3;
    }

    main .left-col
    {
        display: grid;
        margin-top: 10em;
    }
}

























































